
.inputim{
    width: 50vw;
    margin: 0 auto;
}
.longInput input{
    width: 25vw;
}
.shortInput input{
    width: 20vw;
}
.textInput{
    color:#0081c6;;
}
.inputim input{
    border:1.5px solid #0081c6;
    border-radius: 10px;
    padding: 2vh;
    font-size: 1.2vw;
    color: rgb(96, 96, 96);
    margin:2vh;
}
.mikud input{
    width: 7vw;
}
.city input{
    width:15.5vw;
}
.numer input{
    width:5vw;
}
.street input{
    width:12vw;
}
.image input{
    width: 20vw;
    margin-left: 27rem; 
}
.meseg input{
    width:95%;
    height: 25vh;
}
.button button{
   background-color: #0081c6;
   border:1.5px solid #0081c6;
   border-radius: 10px;
   padding: 1rem;
   font-size: 20px;
   color: white;
   margin:1rem;
}
.nameItem input
{
    width:14vw;
}
.bayAdress input{
    width: 95%;
}
.lastDate input{
    width: 15vw;
}
.agreeButton{
    display: flex;
}
/* .inputAgree input{
    background-color: #0081c6;
    border:1.5px solid #0081c6;
    padding: 20px;
}*/
.agreeText{
    font-size: 1rem;
    color: rgb(96, 96, 96);
}
.nameJob input{
    width: 26.5vw;   
}
@media (max-width: 1200px){
    .longInput input{
width: 100%;
    }
.shortInput input {
        width: 100%;
    }
    .numer input{
        width: 28vw;
    }
}